DATABASE_USER=yousef2005alahmed_db_user
DATABASE_PASSWORD=123qweQWE123

EMAIL=worknestmanagementsystem@gmail.com
EMAIL_PASSWORD=boyl csuk azzc puzz

JWT_SECRET=my_super_secret_key_12345

SUPABASE_PASSWORD=fdDe1219AHm
SUPABASE_URL=https://lccprgpohgfglhakfgtp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxjY3ByZ3BvaGdmZ2xoYWtmZ3RwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDEyNzE0NywiZXhwIjoyMDk5NzAzMTQ3fQ._qgAxPSCQy_-5jRQqfuVchyn5PpJ1tHNLHeHP32UAWk


MONGO_URI=mongodb+srv://yousef2005alahmed_db_user:123qweQWE123@cluster0.jicklrk.mongodb.net/worknest
MONGO_URI_TEST=mongodb+srv://yousef2005alahmed_db_user:123qweQWE123@cluster0.jicklrk.mongodb.net/worknest_test 